[user]
	name = Tobias Lundgren
	email = tlundgren@spotify.com
signkey = 191E2AC4EF2A7151 # keybase
# signingkey = /Users/tlundgren/.ssh/id_rsa.pub

[pull]
	rebase = true

[commit]
	gpgsign = true

[pretty]
  colored = format:%Cred%h%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset

[alias]
  # List aliases.
  aliases = config --get-regexp alias

  # View abbreviated SHA, description, and history graph of the latest 20 commits.
  l = log --pretty=oneline -n 20 --graph --abbrev-commit

  # View the current working tree status using the short format.
  s = status -s
  fa = fetch --all
  c = clone
  co = checkout
  d = diff
  # Amend the currently staged files to the latest commit.
  amend = commit --amend --reuse-message=HEAD

  # Credit an author on the latest commit.
  credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"

  # Show verbose output about tags, branches or remotes
  tags = tag -l

  # switch git local branches using fzf
  sb="!switch_branch_fzf() { git branch | fzf | xargs git checkout; }; switch_branch_fzf"

  branches = branch --all
  remotes = remote --verbose

  # Show the user email for the current repository.
  whoami = config user.email

  # Interactive rebase with the given number of latest commits.
  reb = "!r() { git rebase -i HEAD~$1; }; r"

# Clone git repos with URLs like "gh:lundgren2/dotfiles"
[url "git@github.com:"]
  insteadOf = "gh:"

[core]
	excludesfile = /Users/tlundgren/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = code --wait
	precomposeunicode = false
[push]
	default = current

# Git-so-fancy (https://github.com/so-fancy/diff-so-fancy)
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
# [gpg]
# 	program = /opt/homebrew/bin/gpg
# 	format = ssh
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[includeIf "gitdir:~/Dev/own/**/.git"]
    path = ~/Dev/own/.gitconfig

# [gpg "ssh"]
# 	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
