[submodule "tmux/plugins/tmux-themepack"]
	path = tmux/plugins/tmux-themepack
	url = https://git:%3A@github.com/jimeh/tmux-themepack/
[submodule "tmux/plugins/-f"]
	path = tmux/plugins/-f
	url = https://github.com/tmux-plugins/tpm/
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/vim-tmux-navigator"]
	path = tmux/plugins/vim-tmux-navigator
	url = https://git:%3A@github.com/christoomey/vim-tmux-navigator/
