*~
._*
.DS_Store
.idea
npm-debug.log
*.pyc
.bundle
.byebug_history
.env
/bower_components/
/log
/node_modules/
/tmp
/vendor
db/*.sqlite3
log/*.log
rerun.txt
tmp/**/*
/tags
/.custom
config/karabiner/assets/automatic_backups
apps/alfred
